.logo-image {
  height: 52px;
  width: 180px;
  left: 165px;
  top: 48px;
  border-radius: 0px;
  margin-right: 12px;
  align-items: flex-start;
  background-color: transparent;
}
.nav-container {
  height: 103px;
  width: 100%;
  left: 0px;
  top: 0px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 0px;
  background-color: transparent;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .nav-container {
    display: none;
  }
}

.route-buttons {
  background-color: transparent;
  color: white;
  font-family: 'Roboto';
  border-width: 0px;
  list-style-type: none;
  margin-left: 12px;
}
.para {
  text-decoration: none;
}
.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.search-icon {
  color: white;
  height: 24px;
  width: 24px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  margin-right: 12px;
}
.play-icon {
  height: 36px;
  width: 36px;
  color: white;
}
.avatar {
  border-radius: 50%;
  margin-left: 12px;
}
.avatar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search {
  background-color: transparent;
  border-width: 0px;
}
.mobile-nav {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.mobile-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}
.mobile-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
